modules = ["python-3.11"]
run = "streamlit run app.py"
onBoot = "poetry install"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[[ports]]
localPort = 8501
externalPort = 80

[env]
OPENAI_API_KEY = "ABC"
